<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Nest Realty.jpg}">
<link rel="stylesheet" href="/CSS/AdminProfile.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">
            <img th:src="@{/Assets/Nest Realty.png}" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/AdminWelcome}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clients
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/SellerCustomerDetails}">Seller</a>
                        <a class="dropdown-item" th:href="@{/CustomerDetails}">Customer</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seller Properties
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/PendingProperty}">Pending</a>
                        <a class="dropdown-item" th:href="@{/Authorized}">Authorized</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/ApproveToBuy}">Payment Approval</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/ClosedDeals}">Closed Deals</a>
                </li>
                <li class="nav-item dropdown" id ="logout">
                    <img th:src="@{/Assets/profile.png}" alt="Cinque Terre" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/AdminProfile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Profile</h3>
<div class="cardContainer">
    <div th:each="object : ${list}" class="card">
        <p><strong>ID: </strong><span th:text="${object.generatedUserID}"></span></p>
        <p><strong>Name: </strong><span th:text="${object.name}"></span></p>
        <p><strong>Phone Number: </strong><span th:text="${object.phoneNumber}"></span></p>
        <p><strong>Email ID: </strong><span th:text="${object.emailID}"></span></p>
        <p><strong>Address: </strong><span th:text="${object.address}"></span></p>
        <p><strong>District: </strong><span th:text="${object.district}"></span></p>
        <p><strong>State: </strong><span th:text="${object.state}"></span></p>
        
        <form th:action="@{/UpdateAdmin}">
            <input type="hidden" th:value="${object.name}" name="name">
            <button type="submit">Update</button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
