<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
    <link rel="stylesheet" href="/CSS/CustomerHistory.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">
            <img src="/Assets/Nest Realty.png" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/customerWelcome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PropertiesUnderReview">Properties Under Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/RegisterBuyProperties">Ready-to-Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PurchasedProperties">Purchased Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/CustomerHistory">Transaction History</a>
                </li>
                <li class="nav-item dropdown" id="logout">
                    <img src="/Assets/profile.png" alt="Profile" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Customerprofile">Profile</a>
                        <a class="dropdown-item" href="/LogOut">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="customerDate" class="fromDate">
    <label>From Date: <input type="date" name="fromDate" id="fromDate" min="2014-01-01" th:max="${#dates.format(today, 'yyyy-MM-dd')}"></label>
    <label>To Date: <input type="date" name="toDate" id="toDate" th:value="${#dates.format(today, 'yyyy-MM-dd')}"></label>
    <button>Submit</button>
</form>

<h3>Transaction History</h3>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Your Account Number</th>
                <th>Sender Account Number</th>
                <th>Seller Name</th>
                <th>Transaction Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sale : ${list}">
                <td th:text="${sale.customerAccount}"></td>
                <td th:text="${sale.accountNumber}"></td>
                <td th:text="${sale.sellerName}"></td>
                <td th:text="${sale.purchasedDate}"></td>
                <td th:text="${sale.payableAmount}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="5">No Records found</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
