<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
    <link rel="stylesheet" href="CSS/CustomerProfile.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">
            <img src="/Assets/Nest Realty.png" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/customerWelcome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/PropertiesUnderReview}">Properties Under Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/RegisterBuyProperties}">Ready-to-Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/CustomerHistory}">Transaction History</a>
                </li>
                <li class="nav-item dropdown" id="logout">
                    <img src="/Assets/profile.png" alt="Cinque Terre" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/Customerprofile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Profile</h3>
<div class="cardContainer">
    <div th:each="user : ${list}" class="card">
        <p><strong>ID: </strong><span th:text="${user.generatedUserID}"></span></p>
        <p><strong>Name: </strong><span th:text="${user.name}"></span></p>
        <p><strong>Phone Number: </strong><span th:text="${user.phoneNumber}"></span></p>
        <p><strong>Email ID: </strong><span th:text="${user.emailID}"></span></p>
        <form th:action="@{/Updatecustomer}" method="post">
            <input type="hidden" th:value="${user.name}" name="name">
            <input type="hidden" th:value="${user.phoneNumber}" name="phoneNumber">
            <input type="hidden" th:value="${user.password}" name="password">
            <input type="hidden" th:value="${user.address}" name="address">
            <button type="submit">Update</button>
        </form>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
