<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Welcome Page</title>
<link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/CustomerWelcomePage.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">
            <img src="/Assets/Nest Realty.png" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/PropertiesUnderReview}">Properties Under Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/RegisterBuyProperties}">Ready-to-Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/CustomerHistory}">Transaction History</a>
                </li>
                <li class="nav-item dropdown" id="logout">
                    <img src="/Assets/profile.png" alt="Profile" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/Customerprofile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="home">
<div style="background-color:transparent; position:relative; top:100px; padding: 40px; border: 2px solid black; box-shadow: 1px 1px 1px 1px black; border-radius: 12px;">
	<a href="/home2"><button style="background: none; border-radius: 12px; padding: 15px; margin-right: 25px;">Buy now</button></a>
	<a href="/PurchasedProperties"><button style="background: none; border-radius: 12px; padding: 15px;">Purchased properties</button></a>
</div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
