<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Urban Nest Realty</title>
<link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/Home.css">
<link rel="stylesheet" href="/CSS/AdminLogin.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
 <div class="container">
     <a class="navbar-brand">
        <img th:src="@{/Assets/Nest Realty.png}" alt="Logo">
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<li class="nav-item">
          <a class="nav-link active" onclick="history.back()" style="cursor: pointer;">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#realties">Realties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contact">Contact</a>
        </li>
      </ul>
     <form class="form-inline my-2 my-lg-0" th:action="@{/Search}" id="search">
        <input class="form-control mr-sm-2" type="search" name="propertyName" placeholder="Search.(Property Name)" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

<section id="home"></section>

<section id="realties" class="container mt-5">
  <div id="district">
<form th:action="@{/districtSearch}" id="" name="district">
<label style="color: white;">Search by District:  
        <select id="district2" name="district" required>
            <option value="1" >Select District</option>
            <option value="Ariyalur" data-name="Ariyalur">Ariyalur</option>
            <option value="Chengalpattu" data-name="Chengalpattu" >Chengalpattu</option>
            <option value="Chennai" data-name="Chennai">Chennai</option>
            <option value="Coimbatore" data-name="Coimbatore">Coimbatore</option>
            <option value="Cuddalore" data-name="Cuddalore">Cuddalore</option>
            <option value="Dharmapuri" data-name="Dharmapuri">Dharmapuri</option>
            <option value="Dindigul" data-name="Dindigul">Dindigul</option>
            <option value="Erode" data-name="Erode">Erode</option>
            <option value="Kallakurichi" data-name="Kallakurichi">Kallakurichi</option>
            <option value="Kancheepuram" data-name="Kancheepuram">Kancheepuram</option>
            <option value="Karur" data-name="Karur">Karur</option>
            <option value="Krishnagiri" data-name="Krishnagiri">Krishnagiri</option>
            <option value="Madurai" data-name="Madurai">Madurai</option>
            <option value="Mayiladuthurai" data-name="Mayiladuthurai">Mayiladuthurai</option>
            <option value="Nagapattinam" data-name="Nagapattinam">Nagapattinam</option>
            <option value="Kanniyakumari" data-name="Kanniyakumari">Kanniyakumari</option>
            <option value="Namakkal" data-name="Namakkal">Namakkal</option>
            <option value="Perambalur" data-name="Perambalur">Perambalur</option>
            <option value="Pudukottai" data-name="Pudukottai">Pudukottai</option>
            <option value="Ramanathapuram" data-name="Ramanathapuram">Ramanathapuram</option>
            <option value="Ranipet" data-name="Ranipet">Ranipet</option>
            <option value="Salem" data-name="Salem">Salem</option>
            <option value="24" data-name="Sivagangai">Sivagangai</option>
            <option value="Sivagangai" data-name="Tenkasi">Tenkasi</option>
            <option value="Tanjavur" data-name="Tanjavur">Tanjavur</option>
            <option value="Theni" data-name="Theni">Theni</option>
            <option value="Thiruvallur" data-name="Thiruvallur">Thiruvallur</option>
            <option value="Thiruvarur" data-name="Thiruvarur">Thiruvarur</option>
            <option value="Thoothukudi" data-name="Thoothukudi">Thoothukudi</option>
            <option value="Trichirappalli" data-name="Trichirappalli">Trichirappalli</option>
            <option value="Thirunelveli" data-name="Thirunelveli">Thirunelveli</option>
            <option value="Tirupathur" data-name="Tirupathur">Tirupathur</option>
            <option value="Tiruppur" data-name="Tiruppur">Tiruppur</option>
            <option value="Thiruvanamalai" data-name="Thiruvanamalai">Thiruvanamalai</option>
            <option value="Nilgiri" data-name="Nilgiri">Nilgiri</option>
            <option value="Vellore" data-name="Vellore">Vellore</option>
            <option value="Viluppuram" data-name="Viluppuram">Viluppuram</option>
            <option value="Viruthunagar" data-name="Viruthunagar">Viruthunagar</option>            
        </select>
        </label>
        <button id="submit">Submit</button> </form></div>
        
        <div class="scroll-container" style="border-radius: 12px;">
              <img alt="one" th:src="@{/Assets/image5.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image2.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image10.avif}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image9.webp}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image4.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image1.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image3.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image7.webp}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image8.avif}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/image6.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/images11.jpg}" width="300" height="300">
              <img alt="one" th:src="@{/Assets/Land.jpg}" width="300" height="300">
    </div>
            
    	<div class="row justify-content-around">
        	<div class="col-lg-3 col-md-4 col-12 mb-4">
            	<div class="card">
                	<img th:src="@{/Assets/House.jpg}" class="card-img-top" alt="House">
                	<div class="card-body text-center">
                  		<h5 class="card-title">Residential</h5>
                  		<a th:href="@{/Residential}" class="btn btn-outline-dark">See More</a>
                	</div>
            	</div>
        	</div>
        	<div class="col-lg-3 col-md-4 col-12 mb-4">
            <div class="card">
                <img th:src="@{/Assets/Land.jpg}" class="card-img-top" alt="Land">
                <div class="card-body text-center">
                  <h5 class="card-title">Land</h5>
                  <a th:href="@{/Land}" class="btn btn-outline-dark">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-4">
            <div class="card">
                <img th:src="@{/Assets/Flat.webp}" class="card-img-top" alt="Industrial">
                <div class="card-body text-center">
                  <h5 class="card-title">Industrial</h5>
                  <a th:href="@{/Industrial}" class="btn btn-outline-dark">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-4">
            <div class="card">
                <img th:src="@{/Assets/comercial.webp}" class="card-img-top" alt="Commercial">
                <div class="card-body text-center">
                  <h5 class="card-title">Commercial</h5>
                  <a th:href="@{/Commercial}" class="btn btn-outline-dark">See More</a>
                </div>
            </div>
        </div>
    </div>
        
</section>

<section id="about" class="container mt-5">
  <div class="row">
        <div class="col-lg-6 mb-4">
            <img th:src="@{/Assets/quality.jpg}" alt="About Us">
        </div>
        <div class="col-lg-6">
            <h1>About Urban Nest Realty</h1>
            <p>Welcome to Urban Nest Realty, your trusted partner in real estate transactions. Our mission is to provide exceptional service and help you find your dream property. Whether you are buying, selling, or investing, we are here to guide you every step of the way.</p>
            <p>With years of experience in the real estate industry, our team of professionals is committed to delivering outstanding results. We pride ourselves on transparency, integrity, and customer satisfaction.</p>
            <p>Explore our website to discover a wide range of properties, from residential homes to commercial spaces. Feel free to contact us for any inquiries or assistance. We look forward to serving you!</p>
        </div>
    </div>
</section>

<section id="contact" class="container mt-5">
   <div class="text-center">
        <h2>Contact Us</h2>
        <p>If you have any questions, please feel free to reach out to call us at
        <a href="tel:7339263883">7354627445</a>.</p>
        <label>Email address: raksha@gmail.com</label>
           
    </div>
</section>

<footer id="footer">
  <p>&copy; 2024 Urban Nest Realty. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/JS/Home.js"></script>
</body>
</html>
 