<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Pay Now</title>
    <link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
    <link rel="stylesheet" href="/CSS/PayNow.css">
</head>
<body>
<div class="container">
    <h3>Payment Form</h3>
    <form th:action="@{/PayNow}" id="paymentForm" method="post" onsubmit="return validateForm()">
        <label for="yourAccountNumber">Your Account Number: </label>
        <input type="number" id="yourAccountNumber" maxlength="12" name="yourAccountNumber" placeholder="Enter your Bank Account Number">
        
        <label for="senderAccountNumber">Seller Account Number:</label>
        <input type="number" id="senderAccountNumber" name="senderAccountNumber" th:value="${param.senderAccountNumber}" readonly/>
                
        <label for="amount">Enter the Amount to send:</label>
        <input type="number" id="amount" name="amount" th:value="${param.amount}" readonly/>
        
        <label for="purchasedDate">Purchased Date</label>
        <input type="date" id="purchasedDate" name="purchasedDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly/>
        
        <input type="hidden" id="address" name="address" th:value="${param.address}">
        
        <input type="submit" value="Send Money">
    </form>
</div>
<script src="/JS/PayNow.js"></script>
<script type="text/javascript">
function validateForm() 
{
    return confirm("Are you sure you want to proceed with the payment?");
}
</script>
</body>
</html>
