<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Registered Properties</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
<link rel="stylesheet" href="/CSS/SellerView.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
 <div class="container">
     <a class="navbar-brand">
        <img src="/Assets/Nest Realty.png" alt="Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/sellerHome}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/registration}">Post Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/RegisteredProperties}">Registered Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/CompletedDeals}">Completed Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/SellerHistory}">Transaction History</a>
        </li>
        <li class="nav-item dropdown" id ="logout">
          <img src="/Assets/profile.png" alt="Cinque Terre" width="50" height="50" style="position: relative; left: 2rem;">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/Sellerprofile}">Profile</a>
            <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h3>Registered Properties</h3>
<table border="1">
    <thead>
        <tr>
                <th>Property Name</th>
                <th>Property ID</th>
                <th>Approval Status</th>
                <th>Property Images</th>
                <th>Property Documents Photo Copy</th>
                <th>Property Price</th>
                <th>Property Address</th>
                <th>Property District</th>
                <th>Property State</th>
                <th>Registered Date</th>
                <th>Purchased Date</th>
                <th>Customer ID</th>
                <th>Registered Status</th>
                <th>Payment Status</th>
            </tr>
    </thead>
    <tbody>
    <tr th:each="property : ${list}">
    	<td th:text="${property.propertyName}"></td>
            <td th:text="${property.propertyId}"></td>
            <td th:text="${property.approval}"></td>
            <td>
				<img alt="property" th:src="'data:image/jpeg;base64,' +${property.base64Image}">
            </td>
            <td>
				<img alt="document" th:src="'data:image/jpeg;base64,' +${property.base64Document}">
            </td>
            <td th:text="${property.propertyPrice}"></td>
            <td th:text="${property.propertyAddress}"></td>
            <td th:text="${property.propertyDistrict}"></td>
            <td th:text="${property.propertyState}"></td>
            <td th:text="${property.registeredDate}"></td>
            <td th:text="${property.purchasedDate}"></td>
            <td th:text="${property.customerId}"></td>
            <td th:text="${property.registerStatus}"></td>
            <td th:text="${property.paymentStatus}"></td>
            
            <tr th:if="${list == null || list.isEmpty()}">
            <td colspan="15">No Records found</td>
        
    </tbody>
</table>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
