<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Property Details</title>
<link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/UserDisplay.css">
</head>
<body>

<h3>Property Details</h3>

<form action="http://localhost:8080/home#realties" style="text-align: center; margin-bottom: 20px;">
   <button class="back-btn">Back to Home</button>
</form>
<div class="container">
    <div th:if="${list != null}">
        <div th:each="property : ${list}" class="property-display">
            <div class="property-info">
            <img th:src="'data:image/jpeg;base64,' + ${property.base64Image}" alt="Residential">                  
                <p><strong>Seller ID:</strong> <span th:text="${property.sellerId}">Seller ID</span></p>
                <p><strong>Property Name:</strong> <span th:text="${property.propertyName}">Property Name</span></p>
                <p><strong>Property ID:</strong> <span th:text="${property.propertyId}">Property ID</span></p>
                <p><strong>Approval Status:</strong> <span th:text="${property.approval}">Approval Status</span></p>
                <p><strong>Property Price:</strong> <span th:text="${property.propertyPrice}">Property Price</span></p>
                <p><strong>Property Address:</strong> <span th:text="${property.propertyAddress}">Property Address</span></p>
                <p><strong>Property District:</strong> <span th:text="${property.propertyDistrict}">Property District</span></p>
                <p><strong>Property State:</strong> <span th:text="${property.propertyState}">Property State</span></p>
                <p><strong>Registered Date:</strong> <span th:text="${property.registeredDate}">Registered Date</span></p>
            </div>
            <div class="actions">
                <form th:action="@{/Buynow}" method="post">
                    <input type="hidden" name="sellerId" th:value="${property.sellerId}">
                    <input type="hidden" name="sellerName" id="sellerName" th:value="${property.sellerName}">
                    <input type="hidden" name="propertyId" th:value="${property.propertyId}">
                    <input type="hidden" name="propertyName" th:value="${property.propertyName}">
                    <input type="hidden" name="propertyAddress" th:value="${property.propertyAddress}">
                    <input type="hidden" name="propertyPrice" th:value="${property.propertyPrice}">
                    <input type="hidden" name="accountNumber" th:value= "${property.accountNumber}">
                    <input type="submit" class="btn-buy" name="buy" value="Register">
                </form>
            </div>
        </div>
    </div>
    <p class="no-properties" th:if="${list == null}">No properties found</p>
</div>
</body>
</html>
