<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Ready-to-Purchase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
    <link rel="stylesheet" href="/CSS/BuyTable.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">
            <img src="/Assets/Nest Realty.png" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/customerWelcome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PropertiesUnderReview">Properties Under Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/RegisterBuyProperties">Ready-to-Purchase</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/PurchasedProperties">Purchased Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/CustomerHistory">Transaction History</a>
                </li>
                <li class="nav-item dropdown" id="logout">
                    <img src="/Assets/profile.png" alt="Profile" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Customerprofile">Profile</a>
                        <a class="dropdown-item" href="/LogOut">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h3>Ready-To-Purchase</h3>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Seller Name</th>
                <th>Property Address</th>
                <th>Property Total Amount</th>
                <th>Payable Amount</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
     
            <tr th:each="property : ${list}">
                <td th:text="${property.customerId}"></td>
                <td th:text="${property.sellerName}"></td>
                <td th:text="${property.propertyAddress}"></td>
                <td th:text="${property.totalAmount}"></td>
                <td th:text="${property.payableAmount}"></td>
                <td>
                    <form th:action="@{/payNow}" method="get">
                        <input type="hidden" name="amount" th:value="${property.payableAmount}">
                        <input type="hidden" name="senderAccountNumber" th:value="${property.accountNumber}">
                        <button type="submit">Pay Now</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${list==null && list.isEmpty()}">
                <td colspan="8">No Records found</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
