<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Closed Deals</title>
<link rel="icon" type="image/x-icon" href="/Assets/Nest Realty.jpg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/RetriveProperty.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
 <div class="container">
     <a class="navbar-brand">
        <img th:src="@{/Assets/Nest Realty.png}" alt="Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/AdminWelcome}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clients
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/SellerCustomerDetails}">Seller</a>
            <a class="dropdown-item" th:href="@{/CustomerDetails}">Customer</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seller Properties
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/PendingProperty}">Pending</a>
            <a class="dropdown-item" th:href="@{/Authorized}">Authorized</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/ApproveToBuy}">Payment Approval</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/ClosedDeals}">Closed Deals</a>
        </li>
        <li class="nav-item dropdown" id="logout">
          <img th:src="@{/Assets/profile.png}" alt="Cinque Terre" width="50" height="50" style="position: relative; left: 2rem;">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/AdProfile}">Profile</a>
            <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3>Closed Deals</h3>

<form class="form-inline my-2 my-lg-0" th:action="@{/PropertySearch}" id="search">
   <input class="form-control mr-sm-2" type="search" name="propertyName" placeholder="Search..(Plot, showroom, PG, complex floor)" aria-label="Search">
</form>
<form th:action="@{/Date}" class="fromDate">
<label>From Date: <input type="date" name="fromDate" id="fromDate" min="2013-01-01" th:max="${#dates.format(today, 'yyyy-MM-dd')}" ></label>
<label>To Date: <input type="date" name="toDate" id="toDate" th:value="${#dates.format(today, 'yyyy-MM-dd')}"></label>
<button>Submit</button>
</form>
<table border="1">
    <thead>
        <tr>
            <th>Seller ID</th>
            <th>Property Name</th>
            <th>Property Images</th>
            <th>Property Price</th>
            <th>Property Address</th>
            <th>Property District</th>
            <th>Property State</th>
            <th>Registered Date</th>
            <th>Purchased Date</th>
            <th>Customer ID</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="property : ${list}">
        <td th:text="${property.sellerId}"></td>
        <td th:text="${property.propertyName}"></td>
        <td> 
            <img  th:src="'data:image/jpeg;base64,' + ${property.base64Image}" alt="Residential">      
        </td>
        <td th:text="${property.propertyPrice}"></td>
        <td th:text="${property.propertyAddress}"></td>
        <td th:text="${property.propertyDistrict}"></td>
        <td th:text="${property.propertyState}"></td>
        <td th:text="${property.registeredDate}"></td>
        <td th:text="${property.purchasedDate}"></td>
        <td th:text="${property.customerId}"></td>
        <td th:text="${property.paymentStatus}"></td>
    </tr>
    <tr th:if="${list == null or list.isEmpty()}">
        <td colspan="11">No Records found</td>
    </tr>
    </tbody>
</table>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
