<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Nest Realty.jpg}">
    <link rel="stylesheet" th:href="@{/lib/slick.grid.css}" type="text/css">
    <link rel="stylesheet" href="/CSS/SellerHistory.css">
    <link rel="stylesheet" href="/CSS/List.css">
    

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/Assets/Nest Realty.png}" alt="Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/sellerHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/registration}">Post Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/RegisteredProperties}">Registered Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/CompletedDeals}">Completed Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/SellerHistory}">Transaction History</a>
                </li>
                <li class="nav-item dropdown" id="logout">
                    <img th:src="@{/Assets/profile.png}" alt="Profile" width="50" height="50" style="position: relative; left: 2rem;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/Sellerprofile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/LogOut}">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Transaction History</h3>

<form action="SellerDate" class="fromDate" method="post">
        <label><strong>From Date: </strong>
            <input type="date" name="fromDate" id="fromDate" min="2014-01-01" th:max="${#dates.format(today, 'yyyy-MM-dd')}">
        </label>
        <label><strong>To Date:</strong> 
            <input type="date" name="toDate" id="toDate">
        </label>
        <button style="position: relative; top: 4px; left: 10px;">Submit</button>
</form>

<input placeholder="Search" type="text" id="searchInput">
<div id="myGrid"></div> 

<script th:src="@{/lib/jquery-1.7.min.js}"></script>
<script th:src="@{/lib/jquery-ui-1.8.16.custom.min.js}"></script>
<script th:src="@{/lib/jquery.event.drag-2.2.js}"></script>
<script th:src="@{/lib/slick.formatters.js}"></script>
<script th:src="@{/lib/slick.core.js}"></script>
<script th:src="@{/lib/slick.dataview.js}"></script>
<script th:src="@{/lib/slick.grid.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        var columns = [
            { id: "customerAccount", name: "Customer Account Number", field: "customerAccount", sortable: true },
            { id: "customerName", name: "Customer Name", field: "customerName" , sortable: true},
            { id: "purchasedDate", name: "Transaction Date", field: "purchasedDate" , sortable: true},
            { id: "payableAmount", name: "Amount", field: "payableAmount" , sortable: true}
            ];

        var options = {
            enableCellNavigation: true,
            enableColumnReorder: false,
            forceFitColumns: true,
            rowHeight: 45,
            enableSorting: true
        };

        var data = /*[[${list}]]*/ [];

        var grid = new Slick.Grid("#myGrid", data, columns, options);
        grid.onSort.subscribe(function (e, args) {
            var field = args.sortCol.field;
            data.sort(function (a, b) {
                var result = 
                    a[field] > b[field] ? 1 :
                    a[field] < b[field] ? -1 :
                    0;
                return args.sortAsc ? result : -result;
            });
            grid.invalidate();
            grid.render();
        });
        $('#searchInput').on('input', function() {
            var searchTerm = $(this).val().toLowerCase();
            filteredData = data.filter(function(item) {
                return Object.values(item).some(function(value) {
                    return String(value).toLowerCase().includes(searchTerm);
                });
            });
            grid.setData(filteredData);
            grid.invalidate();
            grid.render();
        });
    });
</script>
<script>
        document.addEventListener('DOMContentLoaded', function () 
        {
            const toDateInput = document.getElementById('toDate');
            const today = new Date().toISOString().split('T')[0];
            toDateInput.setAttribute('max', today);
            toDateInput.value = today; 
        });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>