<!DOCTYPE html>
<html lang="xml">
<head>
<meta charset="ISO-8859-1">
<title>Successfully Registered</title>
<link rel="icon" type="image/x-icon" href="Images/Nest Realty.jpg">
<style type="text/css">
body,button {
	font-family: "Lora", serif;
    background-color: #818589;
    background-size: cover;
 	background-position: center;
  	position: relative;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
</head>
<body>
<h4>Successfully Registered</h4>
<a href="SellerWelcomePage"><button>Back to Home Page</button></a>
</body>
</html>