@charset "ISO-8859-1";

    body {
        background-color: #D8CCC0;
        margin: 0;
        padding: 0;
    }
    h3 {
        text-align: center;
        margin-top: 120px;
        color: white;
        font-size: 25px;
    }
    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    .card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        margin: 15px;
        padding: 20px;
        width: 300px;
        box-sizing: border-box;
    }
    
    button, .btn-action, input {
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #818589;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 5px;
     font-family: "Lora", serif;
     position: relative;
        left: 5rem;
}
label{
	color: white;
}
button:hover, .btn-action:hover {
    background-color: #333;
}
