@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
body
{
	overflow-x:hidden;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#home{
    background: url('/Assets/Admin.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    }
    
#closedDeals
{
   position: relative;
   top:1rem !important;  
   right: 1.9rem; 
   padding: 10px;
   border-radius: 12px;
}

#dashboard
{
	padding: 3rem;
	position: relative;
	top: 6rem;
	width: 300px;
	border-radius: 12px;
	border-color: black;
	border: 2px solid;
	background: transparent;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 1);
}

#display
{
	position: relative;
	border: none;
	width: 35px;
	font-size: 20px;
	bottom: 18px;
	background: transparent;
}

#display1
{
	position: relative;
	border: none;
	width: 40px;
	font-size: 20px;
	bottom: 25px;
	left: 160px;
	background: transparent;
}

#display3
{
	position: relative;
	border: none;
	width: 150px;
	font-size: 20px;
	bottom: 5px;
	left: 140px;
	background: transparent;
}