@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    background-color: #818589;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	
}
.nav-item {
	position: relative;
	right: 5rem;
	margin-right: 25px;
}
.navbar-brand {
	position: relative;
	right: 40px;
}
.navbar-brand img {
    position: relative;
	right: 2rem;
    height: 90px;
    width: 100px;
}

#navbarSupportedContent a {
  font-size: 16.7px;
}
#navbarSupportedContent a:hover {
  border-bottom: 2.5px solid white;
}
.active:hover {
  color: black !important;
  border-radius: 12px;
}

#home {
    background: url('/Assets/Customer.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
#logout {
    position: relative;
    left: 17rem;
}

.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0;
}

.dropdown-menu {
    background-color: #818589;
    border: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #818589;
    border-radius: 12px;
}