@charset "ISO-8859-1";

.table-container {
    margin: 10px;
}

table {
    max-width: 100px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
}

button, .btn-action, input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #818589;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:hover, .btn-action:hover, input[type="submit"]:hover {
    background-color: #333;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}



 .slick-header-column {
            position: fixed;
            height: 60px !important;
            padding: 10px !important;
            font: bold !important;
            font-size: 18px !important;      
            text-align: center !important;     
            background: #818589;
            color: white;
        }
        
        .slick-cell {
            padding: 10px !important;
            text-align: left !important;
            background-color: white !important;
        }
        
        #myGrid
        {
			height: 290px; 
			position: relative; 
			top: 10rem; 
			width: 200%;
			max-width: 1111px;
    		border-collapse: collapse;
    		background-color: white;
    		border-radius: 10px;
    		overflow: hidden;
   			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);        
        }
        
        body 
        {
    		background-color: #D8CCC0;
    		margin: 0;
    		padding: 0;
    		display: flex;
    		justify-content: center;
   	 		align-items: center;
    		flex-direction: column;
   		 	color: #333;
		}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    position: relative;
    top: 8rem;
}

input {
    padding: 10px;
    border: 2px solid;
    background: none;
    border-radius: 12px;
    color: black;
    cursor: pointer;
    flex: 1;
    margin: 5px;
}

label {
    color: white;
}


#searchInput
{
	position: relative;
	top: 10rem;
	left: 24rem;
	
}

.fromDate {
            position: relative;
            right: 13rem;
            color: white;
			bottom: 11.8rem;
        }
        
