@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    background-color: #818589;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 1;
}
.nav-item
{
	position: relative;
	right: 6rem;
	margin-right: 15px;
	margin-left: 10px;
}
.navbar-brand
{
	position: relative;
	right: 40px;
}
.navbar-brand img {
     position: relative;
	right: 2rem;
    height: 90px;
    width: 100px;
}

#navbarSupportedContent a{
  font-size: 16px;
}
#navbarSupportedContent a:hover{
  border-bottom: 2.5px solid white;
}
.active:hover{
  color: black !important;
  border-radius: 12px;
}
.dropdown:hover .dropdown-menu {

   display: block;
   margin-top: 0;
}
#home {
    background: url('/Assets/Seller.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
#logout
{
	position: relative;
	left: 11rem;
}
.dropdown-menu {
    background-color: #818589;
    border: none;
}

.dropdown-item{
     color: white;
     }


.dropdown-item:hover {
    background-color: #818589;
    border-radius: 12px;
}
#dashBoard
{
	background: #a5a8ab;
	width: 60%;
	padding: 20px;
	border-radius: 12px;
    position: relative;
    overflow-y:hidden;
    overflow-x:hidden;
	top: 80px;
	height: 200px;	
	margin-top: 50px;
	border: solid 1.5px;
	justify-content: center;
}

#one
{
	background: white;
	border-radius: 12px;
	padding: 10px;
	height: 5rem;
	width: 5rem;
	position: relative;
	left: 20px;
	top: 2.5rem;
	border: solid 1px;
}

#two
{
	background: white;
	border-radius: 12px;
	padding: 10px;
	height: 5rem;
	width: 5rem;
	position: relative;
	left: 14rem;
	bottom: 40px;
	border: solid 1px;
}

#three
{
	background: white;
	border-radius: 12px;
	padding: 10px;
	height: 5rem;
	width: 18rem;
	position: relative;
	left: 27rem;
	bottom: 120px;
	border: solid 1px;
}

#total
{
	border: none;
	background: transparent;
	color: black;
	
}

#six
{
	border: none;
	background: transparent;
	color: black;
	position: relative;
	left: 17px;
	font-size: 3rem;
}

#six:focus
{
	background: transparent;
	outline: none;
	border: none;
}

#thre
{
	border: none;
	background: transparent;
	color: black;
	position: relative;
	left: 17px;
	font-size: 3rem;
}

#thre:focus
{
	background: transparent;
	outline: none;
	border: none;
}

#profit
{
	border: none;
	background: transparent;
	color: black;
	position: relative;
	left: 17px;
	font-size: 3rem;
}

#profit:focus
{
	background: transparent;
	outline: none;
	border: none;
}